/* global styles */
/* (friendly reminder: make it mobile compatible) */

/* fallback style */
body {
  background-color: rgb(255, 255, 255);
  color: black;
  font-family: Verdana;
}

/* fonts */
@font-face {
  font-family: 'stat ft';
  src: url(../LOCAL/FONTS/stat_ft.ttf);
}

@font-face {
  font-family: 'ariw95';
  src: url(../LOCAL/FONTS/ari-w9500-condensed-display.ttf);
}

@font-face {
  font-family: 'Dot';
  src: url(../LOCAL/FONTS/Dot.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #333
}

.dotted {
  font-family: "Dot", sans-serif;
  font-size: 250px;
  margin: auto;
}

.ariw95 {
  font-family: "ariw95", sans-serif;
}